* {
  text-align: center;
  border: none;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  font-size: 20px;
  margin-top: 2rem;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

body {
  background-image: url(./images/pattern-background-desktop.svg);
}

.container {
  width: 330px;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.img1 {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.content2 {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  height: 50px;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  justify-content: space-between;
  font-size: 16px;
}

#p1 {
  color: hsl(224, 23%, 55%);
}

#p2 {
  margin-right: 3rem;
  color: hsl(223, 47%, 23%);

  margin-bottom: 2rem;
}

button {
  margin-top: 1rem;
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  cursor: pointer;
}

#p3 {
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

#p4 {
  position: absolute;
  top: 22px;
  left: 4rem;
  color: hsl(224, 23%, 55%);
}

#p5 {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  cursor: pointer;
}
